@import "base.css";

.wrapper {
  height: 100vh;
  background: white url(../images/sunglasses.jpg) center center / cover no-repeat fixed;

}
.overlay{
  background: rgba(0,0,0,0.6);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
header {
  min-width: 100%;
  overflow: hidden;
}

header div {
  display: flex;
  justify-content: end;
}

nav {
  text-align: right;
  height: 60px;
  font-size: 100%;
}
nav ul {
  list-style: none;
  font-size: 0;
}
nav ul li {
  display: inline;
  line-height: 60px;
  cursor: default;
}
nav ul li a {
  font-size: 15px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.2px;
  text-transform: none;
  cursor: pointer;
  font-weight: 450;
}
nav ul li a:hover {
  text-decoration: underline;
}

nav ul li + li {
  margin-left: 25px;
}

.herotext {
  min-width: 100%;
  text-align: center;
  align-items: center;
}
.herotext h1 {
  font-size: 70px;
  color: white;
}
.herotext h3 {
  font-size: 25px;
  color: white;
  font-weight: 300;
}
button {
  padding: 15px 20px 15px 20px;
  background-color: #ff6961;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  margin: 15px;
  font-weight: 600;
  font-weight: 400;
}

.herofooter ul {
  list-style: none;
text-align: center;
}
.herofooter ul li {
  display: inline;
  margin: 0px 20px 0px 20px
}

.herofooter ul li a{
    color: white;
    font-size: 25px;
}
.textalign{
  text-align: center;
}
.textalign h2{
  margin: 40px 0px 20px 0px;
  font-size: 35px;
}
p{
    margin: 30px 0px 30px 0px;
}
img{
    width: 90%;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  color: white;
  text-align: center;
  align-items: center;
}
footer ul li {
  display: inline;
}
footer ul li a {
  padding: 20px 30px 20px 0px;
  color: black;
  text-decoration: none;
  font-size: 25px;
}
.copyrighttext {
  margin: 30px 0px 30px 0px;
  color: black;
}
