@import "base.css";


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  main                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  map                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.map{
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #286FF2;

}

